* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  flex: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid brown;
}

header .logo {
  color: rgb(226, 43, 104);
  font-weight: 700;
  font-size: 1.5rem;
}

header ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

header a {
  color: rgb(165, 122, 42);
  font-weight: 500;
}

main {
  padding: 0 20px;
}

main .banner {
  padding: 50px 0;
  border-bottom: 1px solid brown;
  color: rgb(226, 43, 186);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

main .banner .hero-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 475px;
}

.hero-texts h1 {
  font-size: 2.1rem;
}

button {
  padding: 10px 15px;
  border: 1px solid rgb(226, 43, 113);
  border-radius: 8px;
  background-color: rgb(226, 43, 113);
  color: white;
  font-weight: 500;
}

button:hover {
  color: rgb(226, 43, 156);
  background-color: transparent;
}

.hero-texts button {
  align-self: flex-start;
}
main .banner .hero-img {
  max-width: 600px;
  overflow: hidden;
  flex-grow: 1;
}

main .banner .hero-img img {
  width: 100%;
}

main .info,
main .devs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0;
}

.info h2,
.devs h2 {
  text-align: center;
  font-size: 2rem;
}
.row {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.row .card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0 0 3px brown;
  border: 1px solid brown;
  align-items: center;
  width: 300px;
  flex-grow: 1;
}

.row .card .desc {
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}

.info .card {
  box-shadow: none;
}

form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

legend {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 16px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: gray;
  font-weight: 400;
}
label input,
select {
  display: block;
  padding: 10px;
  border: 0.5px solid rgb(226, 43, 113);
  background-color: #fff;
  border-radius: 8px;
  color: black;
}

input,
select {
  outline-color: rgb(226, 43, 180);
}

form div {
  display: flex;
  align-items: center;
  gap: 10px;
}

form div label {
  flex-direction: row;
}

footer {
  padding: 12px 20px;
  border-top: 1px solid brown;
  text-align: center;
}

/* About page*/
.top {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.author-image {
  max-width: 300px;
  position: relative;
}

.author-name {
  position: absolute;
  font-size: 1.2rem;
  align-items: flex-end;
  bottom: 0;
  display: flex;
  color: black;
  left: 1rem;
}
.responsive {
  width: 100%;
  height: auto;
}

.text {
  font-family: Times New Roman;
  font-size: 1.3rem;
  margin-bottom: auto;
  justify-content: center;
  padding: 10px;
  box-shadow: 0rem 0rem 1rem 0rem grey;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.logos {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.responsive1 {
  height: auto;
  width: 5vh;
}

table {
  border: 3px dotted black;
  justify-content: center;
}

th,
td {
  border: 3px solid black;
}

th {
  text-align: center;
}

tr:nth-child(even) {
  background: grey;
}

.table {
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.exit {
  text-align: center;
  font-family: times new roman;
}

.exit a {
  color: rgb(226, 43, 113);
}
